@import '../../styles/colors.scss';

.main-screen-wrapper {
  background-color: $ex-background;
  color: $ex-white;

  .logo {
    animation: logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }

  .header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    p {
      font-weight: 200;
    }
  }

  .link {
    color: #61dafb;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
